{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-cond-assign": ["error", "always"],
    "no-console": "warn",
    "no-constant-condition": ["error", {"checkLoops": false}],
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty-character-class": "error",
    "no-empty": ["error", {"allowEmptyCatch": true}],
    "no-ex-assign": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": ["error", "all", {
      "returnAssign": false,
      "conditionalAssign": false,
      "nestedBinaryExpressions": false
    }],
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": ["error", {"allowConstructorFlags": ["u", "y"]}],
    "no-irregular-whitespace": ["error", {
      "skipStrings": true,
      "skipComments": true,
      "skipRegExps": true,
      "skipTemplates": true
    }],
    "no-obj-calls": "error",
    "no-prototype-builtins": "error",
    "no-regex-spaces": "error",
    "no-sparse-arrays": "error",
    "no-template-curly-in-string": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "error",
    "use-isnan": "error",
    "valid-jsdoc": ["error", {
      "requireReturn": false,
      "requireReturnType": false,
      "matchDescription": ".+",
      "requireParamDescription": true,
      "requireReturnDescription": true,
      "prefer": {
        "arg": "param",
        "argument": "param",
        "class": "constructor",
        "return": "returns",
        "virtual": "abstract"
      },
      "preferType": {
        "Boolean": "boolean",
        "Number": "number",
        "String": "string",
        "object": "Object"
      }}],
    "valid-typeof": "error",

    "array-callback-return": "error",
    "block-scoped-var": "error",
    "class-methods-use-this": "error",
    "complexity": "error",
    "consistent-return": ["error", {"treatUndefinedAsUnspecified": true}],
    "curly": "error",
    "default-case": "error",
    "dot-location": ["error", "property"],
    "dot-notation": ["error", {"allowKeywords": false}],
    "eqeqeq": ["error", "smart"],
    "guard-for-in": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-div-regex": "error",
    "no-else-return": "error",
    "no-empty-function": ["error", {"allow": ["functions", "arrowFunctions", "constructors"]}],
    "no-empty-pattern": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": ["error", {
      "boolean": false,
      "string": false,
      "number": false,
      "allow": ["~", "!!", "+", "*"]
    }],
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-magic-numbers": ["error", {"ignoreArrayIndexes": true}],
    "no-multi-spaces": ["error", {"exceptions": { "Property": false }}],
    "no-multi-str": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-octal-escape": "error",
    "no-octal": "error",
    "no-param-reassign": ["error", { "props": false }],
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": ["error", "always"],
    "no-script-url": "error",
    "no-self-assign": ["error", {"props": true}],
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": ["error", {"allowShortCircuit": true, "allowTernary": true}],
    "no-unused-labels": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-void": "error",
    "no-warning-comments": ["error", {"terms": ["todo", "fixme"], "location": "anywhere"}],
    "no-with": "error",
    "radix": "error",
    "wrap-iife": ["error", "inside"],


    "init-declarations": ["error", "always"],
    "no-catch-shadow": "error",
    "no-delete-var": "error",
    "no-label-var": "error",
    "no-shadow-restricted-names": "error",
    "no-shadow": "error",
    "no-undef-init": "error",
    "no-undef": "error",
    "no-undefined": "error",
    "no-unused-vars": "error",
    "no-use-before-define": ["error", "nofunc"],


    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "never"],
    "brace-style": "error",
    "camelcase": "error",
    "comma-dangle": "error",
    "comma-spacing": "error",
    "comma-style": "error",
    "computed-property-spacing": "error",
    "eol-last": "error",
    "func-call-spacing": "error",
    "indent": "error",
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": ["error", {
      "afterColon": true,
      "mode": "strict"
    }],
    "keyword-spacing": "error",
    "line-comment-position": "error",
    "lines-around-comment": "error",
    "lines-around-directive": ["error", "always"],
    "max-depth": ["error", 4],
    "max-len": ["error", 120, 4, {"ignoreUrls": true, "ignoreStrings": true, "ignoreTemplateLiterals": true}],
    "max-nested-callbacks": ["error", 3],
    "max-params": ["error", 6],
    "max-statements-per-line": ["error", {"max": 1}],
    "new-cap": ["error", {"newIsCap": true}],
    "new-parens": "error",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-inline-comments": "error",
    "no-mixed-operators": [
      "error",
      {
        "groups": [
          ["+", "-", "*", "/", "%", "**"],
          ["&", "|", "^", "~", "<<", ">>", ">>>"],
          ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
          ["&&", "||"],
          ["in", "instanceof"]
        ],
        "allowSamePrecedence": true
      }
    ],
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": "error",
    "no-negated-condition": "error",
    "no-new-object": "error",
    "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
    "no-tabs": "error",
    "no-trailing-spaces": "error",
    "no-underscore-dangle": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-curly-newline": ["error", {"multiline": true}],
    "object-curly-spacing": ["error", "never"],
    "object-property-newline": "error",
    "one-var-declaration-per-line": "error",
    "one-var": ["error", "never"],
    "operator-assignment": ["error", "always"],
    "operator-linebreak": ["error", "before"],
    "padded-blocks": ["error", "never"],
    "quote-props": ["error", "consistent-as-needed"],
    "quotes": ["error", "single"],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true
      }
    }],
    "semi-spacing": "error",
    "semi": "error",
    "sort-keys": ["error", "asc", {"caseSensitive": true, "natural": false}],
    "space-before-blocks": ["error", {"functions": "always", "keywords": "always", "classes": "always"}],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": ["error", {
      "words": true,
      "nonwords": false/*,
      "overrides": {
        "++": true
      }*/
    }],
    "spaced-comment": ["error", "always", {
      "line": {
        "markers": ["/"],
        "exceptions": ["-", "+"]
      },
      "block": {
        "markers": ["!"],
        "exceptions": ["*"],
        "balanced": true
      }
    }],
    "unicode-bom": "error",


    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "error",
    "constructor-super": "error",
    "generator-star-spacing": ["error", {"before": true, "after": false}],
    "no-class-assign": "error",
    "no-confusing-arrow": "error",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": "error",
    "no-new-symbol": "error",
    "no-this-before-super": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": ["error", {
      "ignoreDestructuring": false,
      "ignoreImport": false,
      "ignoreExport": false
    }],
    "object-shorthand": ["error", "always"],
    "prefer-arrow-callback": "error"
  }
}
