<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        document.registerElement('hello-button', {
            prototype: Object.create(HTMLButtonElement.prototype, {
                createdCallback: {
                    value: function createdCallback() {
                        this.innerHTML = '<button>hello world</button>';
                        this.addEventListener('click', () => {
                            alert('hello world');
                        });
                    }
                }
            })
        });
    </script>
</head>
<body>
    <hello-button></hello-button>
</body>
</html>