<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        .m-box .left,
        .m-box .right {
            height: 200px;
            background: #eee;
        }

        .left {
            position: absolute;
            width: 200px;
        }

        .right {
            margin-left: 210px;
        }
    </style>
</head>
<body>
<div class="m-box">
    <div class="left">left</div>
    <div class="right">right</div>
</div>
</body>
</html>